
<h1>DM</h1>

<% if user_signed_in? %>
    <h2><%= current_user.name %>さん</h2>
    <h2><%= current_user.email %>でログインしています</h2> 

    <h2>User一覧ページ</h2>

    <% number = 1%>
    <div class="flex">
        <% @users.each do |u| %>
        <div class="user-in">
            <p><%= u.name %>さん</p>
            <p><%= link_to 'ユーザーページへ', user_path(u.id) %></p>
        </div>
        <% number += 1 %>
        <% end %>
    </div>
<% else %>
 <p>ログインしてね</p>
<% end %>


