.kensaku{
    height: 300px;
    width: 100%;
}

.kensaku2{
    text-align: center;
    padding: 140px;
}

.tag{
    height: 10000px;
}

.tag h3{
    padding: 40px;
    text-align: center;

}
.tag-box{
background-color: aliceblue;
    text-align: center;

    padding-top: 100px;
}
.tag-list{
    width: 300px;
    margin: 20px;
    top: 50%;

    font-size: 20px;
    background-color: aqua;
}